lib/features/n8n/TESt-add-transaction-Hao.json
{
  "name": "TESt-add-transaction-Hao",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "name": "errorCode",
              "value": "={{ $json._audioValidation.errorCode || 'VALIDATION_FAILED' }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json._audioValidation.message || 'Yêu cầu không hợp lệ.' }}",
              "type": "string"
            },
            {
              "name": "rawInput",
              "value": "={{ $json._audioValidation.rawInput || $json._audioValidation.transcript || $json._audioValidation.text || $json.text || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        -864
      ],
      "id": "1fa39e1f-89e4-4392-8e18-a3848fb4eb33",
      "name": "Build Audio Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "name": "errorCode",
              "value": "={{ $json._transcriptValidation.errorCode || 'VALIDATION_FAILED' }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json._transcriptValidation.message || 'Yêu cầu không hợp lệ.' }}",
              "type": "string"
            },
            {
              "name": "rawInput",
              "value": "={{ $json._transcriptValidation.rawInput || $json._transcriptValidation.transcript || $json._transcriptValidation.text || $json.text || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        -960
      ],
      "id": "77011f9c-b1eb-44b4-a0ef-a5635de4f792",
      "name": "Build Transcript Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "name": "errorCode",
              "value": "={{ $json._imageValidation.errorCode || 'VALIDATION_FAILED' }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json._imageValidation.message || 'Yêu cầu không hợp lệ.' }}",
              "type": "string"
            },
            {
              "name": "rawInput",
              "value": "={{ $json._imageValidation.rawInput || $json._imageValidation.transcript || $json._imageValidation.text || $json.text || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        -608
      ],
      "id": "9c30b7f8-8f16-4fc9-9217-8c5c393bdbf3",
      "name": "Build Image Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "name": "errorCode",
              "value": "={{ $json._ocrValidation.errorCode || 'VALIDATION_FAILED' }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json._ocrValidation.message || 'Yêu cầu không hợp lệ.' }}",
              "type": "string"
            },
            {
              "name": "rawInput",
              "value": "={{ $json._ocrValidation.rawInput || $json._ocrValidation.transcript || $json._ocrValidation.text || $json.text || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        -32
      ],
      "id": "0d19e9f0-7174-48a3-beb3-155b635809e9",
      "name": "Build OCR Error"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "file": "data0",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -3616,
        -1136
      ],
      "id": "91d96fb9-0cf2-4b3e-ad74-e7530f2cb8e3",
      "name": "Transcribe audio or video1",
      "credentials": {
        "elevenLabsApi": {
          "id": "EIl6p23JGHdOqHMj",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer R48u7xnDLjtFxk193RD3n9RnQvA9jgdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"mistral-small-latest\",\n  temperature: 0.2,\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are an expense categorization assistant for personal finance. \" +\n        \"The user speaks Vietnamese. You receive already transcribed Vietnamese text. \" +\n        \"You MUST return only a valid JSON object, no explanation, no extra text.\"\n    },\n    {\n      role: \"user\",\n      content:\n        \"From the following TRANSCRIBED VIETNAMESE AUDIO TEXT of a spoken receipt or transaction, \" +\n        \"return a JSON object with keys:\\n\" +\n        \"- merchant (string|null)\\n\" +\n        \"- dateTime (dd/MM/yyyy HH:mm:ss|null)\\n\" +\n        \"- amount (number|null)\\n\" +\n        \"- isIncome (boolean|null)\\n\" +\n        \"- categoryName (string|null)\\n\" +\n        \"- moneySourceName (string)\\n\" +\n        \"- confidence (number between 0 and 1)\\n\\n\" +\n\n        \"GENERAL RULES:\\n\" +\n        \"- The text is Vietnamese speech about money, spending, or income.\\n\" +\n        \"- Ignore background tags like '(nhạc nền)', '(tiếng ồn)', '(cười)'.\\n\" +\n        \"- If something is not clearly mentioned, set that field to null (except moneySourceName).\\n\" +\n        \"- Assume the currency is Vietnamese đồng (VND).\\n\" +\n        \"- Vietnamese number words like 'năm mươi nghìn' = 50000, 'một trăm nghìn' = 100000.\\n\\n\" +\n\n        \"TIME AND DATE RULES (VERY IMPORTANT):\\n\" +\n        \"- You are also given RECEIVED_AT: the ISO timestamp when the audio was received by the system. \" +\n        \"Treat RECEIVED_AT as the current reference date and time.\\n\" +\n        \"- Always output dateTime in the format dd/MM/yyyy HH:mm:ss.\\n\" +\n        \"- NEVER randomly change the minutes or seconds of RECEIVED_AT. Only use minutes/seconds that are spoken or exactly copied from RECEIVED_AT.\\n\\n\" +\n\n        \"1. If the transcript contains an EXPLICIT calendar date (day, month, year), for example:\\n\" +\n        \"   'ngày 27 tháng 4 năm 2024', '27/04/2024', or '27 tháng 4', then use that date.\\n\" +\n        \"   - If a specific time of day is also spoken (e.g. 'lúc 8 giờ 50', '8 rưỡi sáng'), combine that time with the spoken date.\\n\" +\n        \"   - Only fall back to RECEIVED_AT for relative words like 'hôm qua', 'tuần trước', etc.\\n\\n\" +\n\n        \"2. If the transcript mentions ONLY a time-of-day but NO explicit calendar date, for example:\\n\" +\n        \"   '8 giờ sáng nay', 'lúc 7 giờ tối', 'khoảng 9 rưỡi',\\n\" +\n        \"   - Use the DATE from RECEIVED_AT.\\n\" +\n        \"   - Use the TIME from the transcript.\\n\" +\n        \"   - If the time is spoken without minutes (for example '8 giờ sáng'), set minutes and seconds to 00: '08:00:00'.\\n\" +\n        \"   - Example: RECEIVED_AT = 2025-11-30T08:13:47.519-05:00 and audio says '8 giờ sáng', \" +\n        \"     then dateTime should be 30/11/2025 08:00:00.\\n\\n\" +\n\n        \"3. If the transcript does NOT contain any clear time-of-day AND does NOT contain any clear calendar date:\\n\" +\n        \"   - Assume the transaction happened exactly at RECEIVED_AT.\\n\" +\n        \"   - dateTime MUST be EXACTLY equal to RECEIVED_AT converted to dd/MM/yyyy HH:mm:ss.\\n\" +\n        \"   - DO NOT round or change the hour, minute, or second.\\n\" +\n        \"   - Example: if RECEIVED_AT = 2025-11-30T08:26:49.422-05:00 and the text is 'Đi ăn sáng phở Thìn năm mươi nghìn.', \" +\n        \"     then dateTime MUST be '30/11/2025 08:26:49'.\\n\\n\" +\n\n        \"4. If the transcript uses RELATIVE PAST expressions such as:\\n\" +\n        \"   'hôm qua', 'hôm kia', '2 ngày trước', 'ba ngày trước',\\n\" +\n        \"   'tuần trước', 'tháng trước', 'năm ngoái',\\n\" +\n        \"   then you MUST compute the date by subtracting the appropriate amount from RECEIVED_AT:\\n\" +\n        \"   - 'hôm qua' = RECEIVED_AT date minus 1 day.\\n\" +\n        \"   - 'hôm kia' or '2 ngày trước' = RECEIVED_AT date minus 2 days.\\n\" +\n        \"   - 'ba ngày trước' = RECEIVED_AT date minus 3 days.\\n\" +\n        \"   - 'tuần trước' = RECEIVED_AT date minus about 7 days.\\n\" +\n        \"   - 'tháng trước' = RECEIVED_AT date minus 1 month.\\n\" +\n        \"   - 'năm ngoái' = RECEIVED_AT date minus 1 year.\\n\" +\n        \"   - If a specific TIME is spoken (for example: 'hôm qua tôi đi ăn phở Thìn vào lúc 8 giờ 40'), \" +\n        \"     use that time with the adjusted past date (RECEIVED_AT date minus 1 day at 08:40:00).\\n\" +\n        \"   - If NO specific time is spoken with these relative expressions, copy the EXACT hour, minute and second from RECEIVED_AT to the adjusted date.\\n\" +\n        \"     For example, if RECEIVED_AT = 2025-11-30T08:26:49.422-05:00 and the text says 'hôm qua đi ăn sáng', \" +\n        \"     then dateTime = '29/11/2025 08:26:49'.\\n\\n\" +\n\n        \"5. If the transcript clearly refers to the future (e.g. 'tuần sau', 'tháng sau'), treat the transaction as planned, \" +\n        \"   not yet done, and set dateTime to null.\\n\\n\" +\n\n        \"CATEGORY RULES:\\n\" +\n        \"1. EXPENSE categories allowed: Shopping, FnB, Health, Groceries, Transportation, Travel.\\n\" +\n        \"   - FnB: ăn sáng, ăn trưa, ăn tối, uống cafe, uống trà sữa, đồ ăn, nhà hàng, quán phở, quán nhậu.\\n\" +\n        \"   - Groceries: đi chợ, siêu thị, mua đồ ăn về nấu, rau củ, gạo, mắm muối.\\n\" +\n        \"   - Shopping: mua quần áo, giày dép, mỹ phẩm, đồ điện tử, vật dụng cá nhân.\\n\" +\n        \"   - Health: thuốc, bệnh viện, khám bệnh, bảo hiểm y tế.\\n\" +\n        \"   - Transportation: xăng xe, gửi xe, taxi, Grab, vé xe bus.\\n\" +\n        \"   - Travel: vé máy bay, khách sạn, homestay, tour du lịch.\\n\" +\n        \"2. INCOME categories allowed: Salary, Reward, Allowance, Collections, Profit, Business.\\n\" +\n        \"   - Salary: lương, tiền công, tiền làm thêm.\\n\" +\n        \"   - Reward: thưởng, bonus, tiền thưởng.\\n\" +\n        \"   - Allowance: tiền bố mẹ cho, tiền trợ cấp, tiền chu cấp.\\n\" +\n        \"   - Collections: tiền thu hộ, tiền người khác trả lại, tiền nợ trả.\\n\" +\n        \"   - Profit: tiền lãi, tiền lời, lãi đầu tư.\\n\" +\n        \"   - Business: doanh thu bán hàng, tiền kinh doanh, tiền chốt đơn.\\n\\n\" +\n\n        \"MONEY SOURCE RULES:\\n\" +\n        \"- A list of money sources will be provided after the transcript text.\\n\" +\n        \"- moneySourceName MUST EXACTLY match one of these names.\\n\" +\n        \"- Do NOT invent new money sources.\\n\" +\n        \"- ALWAYS choose exactly one moneySourceName.\\n\" +\n        \"- NEVER return null for moneySourceName.\\n\" +\n        \"- If the payment method is unclear from the transcript, choose the MOST LIKELY money source.\\n\" +\n        \"- If still uncertain, choose the FIRST money source from the list.\\n\\n\" +\n\n        \"CLASSIFICATION RULES:\\n\" +\n        \"- First decide if the transaction is INCOME or EXPENSE based on the transcript.\\n\" +\n        \"- Words like 'mua', 'trả', 'thanh toán', 'ăn', 'uống', 'đi taxi', 'đặt vé' usually mean EXPENSE.\\n\" +\n        \"- Words like 'nhận lương', 'được chuyển khoản', 'người ta trả tiền', 'nhận thưởng' usually mean INCOME.\\n\" +\n        \"- If it is INCOME, choose categoryName ONLY from the income list.\\n\" +\n        \"- If it is EXPENSE, choose categoryName ONLY from the expense list.\\n\" +\n        \"- merchant: name of the shop, restaurant or service if mentioned, for example 'Phở Thìn', 'Circle K', 'Grab'.\\n\" +\n        \"- dateTime: must follow the above TIME AND DATE RULES. If you still cannot infer a reasonable dateTime, return null.\\n\" +\n        \"- amount: extract the spoken amount and convert it to a number (for example 'năm mươi nghìn' -> 50000).\\n\" +\n        \"- confidence: 0.0 if very uncertain, 1.0 if very certain; usually between 0.5 and 0.95.\\n\\n\" +\n\n        \"Output MUST be only one valid JSON object with these keys and no additional text.\\n\\n\" +\n\n        \"TRANSCRIBED_AUDIO_TEXT:\\n\" + $json.convert_text + \"\\n\\n\" +\n        \"RECEIVED_AT (ISO current timestamp of the audio):\\n\" + $json.receivedAt + \"\\n\\n\" +\n        \"MONEY_SOURCES:\\n\" + $json.moneySourceName\n    }\n  ]\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1472,
        -640
      ],
      "id": "b63b9d3a-5bbe-48ee-9604-3ca0680353ec",
      "name": "http_request_phan_loai_danh_muc_tu_anh"
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "fintrack-17e23",
        "collection": "={{ 'users/' + $json.userId + '/transactions' }}\n",
        "columns": "=amount, categoryIcon, categoryId, categoryName, dateTime, isIncome\n, merchant, moneySourceName, moneySourceId\n"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -912,
        -640
      ],
      "id": "ede68174-2596-4dc9-852a-6609d374e619",
      "name": "Create transaction voice1",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "gNwOgZUUQI95ziRR",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ea2792d-3ef8-4830-b641-836f981a502b",
              "name": "isIncome",
              "value": "={{ $node[\"Code in Transaction1\"].json.isIncome }}",
              "type": "boolean"
            },
            {
              "id": "ab32e001-2565-4564-a90f-b10ac17d4253",
              "name": "amount",
              "value": "={{ $node[\"Code in Transaction1\"].json.amount }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -640
      ],
      "id": "5c2a3899-424a-4c39-9eed-1f8e099cbccb",
      "name": "Edit Fields Voice1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18e71065-4eb4-4207-99c4-a4b66d8489ac"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f633afaf-4ae0-4760-aaa3-212b9f5e13d2",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e4e1333-74e5-422e-b6d3-8eb102fb36b2",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4608,
        -656
      ],
      "id": "2d91cdc4-4c25-4228-9616-5e6bd56169bc",
      "name": "Switch_chia_luong1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "588768f1-8a5d-4ea2-8f85-94ca49b81f8a",
        "responseMode": "lastNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4928,
        -624
      ],
      "id": "af5760b0-fc79-43d5-9d49-076ef2b4fff3",
      "name": "Webhook-add-transaction1",
      "webhookId": "588768f1-8a5d-4ea2-8f85-94ca49b81f8a"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "data0",
        "destinationKey": "fileBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -4288,
        192
      ],
      "id": "7707b7a6-a149-4a9a-a4b0-3d0c22fc2c88",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer R48u7xnDLjtFxk193RD3n9RnQvA9jgdc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"data:image/jpeg;base64,{{$json.fileBase64}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        208
      ],
      "id": "9022b142-f2e1-4aca-9530-0924ea1ff041",
      "name": "HTTP_Request_trich_xuat_van_ban"
    },
    {
      "parameters": {
        "jsCode": "// 1. CATEGORY MAP (giữ nguyên như bạn đã định nghĩa)\nconst categoryMap = {\n  Shopping: {\n    categoryId: \"CEo5I3IKJh3L9qgSB1lO\",\n    categoryIcon: \"assets/images/shopping.png\",\n    isIncome: false,\n    categoryName: \"Shopping\",\n  },\n  FnB: {\n    categoryId: \"gORg3uIPtFn9rA7J5dc4\",\n    categoryIcon: \"assets/images/food.png\",\n    isIncome: false,\n    categoryName: \"FnB\",\n  },\n  Health: {\n    categoryId: \"FEcR84cFou7DIHJD1jTF\",\n    categoryIcon: \"assets/images/health.png\",\n    isIncome: false,\n    categoryName: \"Health\",\n  },\n  Groceries: {\n    categoryId: \"SaHUh65RWSkufJYaYsFB\",\n    categoryIcon: \"assets/images/groeries.png\",\n    isIncome: false,\n    categoryName: \"Groceries\",\n  },\n  Transportation: {\n    categoryId: \"bpTtV34iwKdfVInoKKsU\",\n    categoryIcon: \"assets/images/taxi.png\",\n    isIncome: false,\n    categoryName: \"Transportation\",\n  },\n  Travel: {\n    categoryId: \"wpKJvFRwRJB3Vs2xeSJ5\",\n    categoryIcon: \"assets/images/travel.png\",\n    isIncome: false,\n    categoryName: \"Travel\",\n  },\n\n  // INCOME\n  Salary: {\n    categoryId: \"W1OgAupnW8DDznRwPSEj\",\n    categoryIcon: \"assets/images/salary.png\",\n    isIncome: true,\n    categoryName: \"Salary\",\n  },\n  Reward: {\n    categoryId: \"C1xqxdF6RsyKloC6wq4P\",\n    categoryIcon: \"assets/images/allowance.png\",\n    isIncome: true,\n    categoryName: \"Reward\",\n  },\n  Allowance: {\n    categoryId: \"VFewmT2aJ5VM6zljkupd\",\n    categoryIcon: \"assets/images/profit.png\",\n    isIncome: true,\n    categoryName: \"Allowance\",\n  },\n  Collections: {\n    categoryId: \"ghb65XinYasZKSCZPu3i\",\n    categoryIcon: \"assets/images/collections.png\",\n    isIncome: true,\n    categoryName: \"Collections\",\n  },\n  Profit: {\n    categoryId: \"tKNHO1Mmy4FQyTN5KWIs\",\n    categoryIcon: \"assets/images/profit.png\",\n    isIncome: true,\n    categoryName: \"Profit\",\n  },\n  Business: {\n    categoryId: \"wxE2LcjwbcSNVqashsIT\",\n    categoryIcon: \"assets/images/business.png\",\n    isIncome: true,\n    categoryName: \"Business\",\n  },\n};\n\n// 2. MONEY SOURCE MAP động\nconst idsStr   = $node[\"Edit_Fields_transaction1\"].json.moneySourceId || \"\";\nconst namesStr = $node[\"Edit_Fields_transaction1\"].json.moneySourceName || \"\";\n\nconst ids   = idsStr.split(\",\").map(s => s.trim()).filter(Boolean);\nconst names = namesStr.split(\",\").map(s => s.trim()).filter(Boolean);\n\nconst moneySourceMap = {};\nfor (let i = 0; i < names.length; i++) {\n  moneySourceMap[names[i]] = { id: ids[i] };\n}\n\n// 3. Format dateTime giống Firestore\nfunction formatDateTimeToFirebase(dateStr) {\n  if (!dateStr) return null;\n\n  const [dayStr, monthStr, rest] = dateStr.split(\"/\");\n  const [yearStr, timeStr] = rest.split(\" \");\n  const day = parseInt(dayStr);\n  const month = parseInt(monthStr);\n  const year = parseInt(yearStr);\n\n  const [hourStr, minuteStr, secondStr] = timeStr.split(\":\");\n  const hour24 = parseInt(hourStr);\n\n  const ampm = hour24 >= 12 ? \"PM\" : \"AM\";\n  const hour12 = ((hour24 + 11) % 12) + 1;\n\n  const monthNames = [\n    \"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\n    \"July\",\"August\",\"September\",\"October\",\"November\",\"December\"\n  ];\n\n  return `${monthNames[month-1]} ${day}, ${year} at ${String(hour12).padStart(2,\"0\")}:${minuteStr}:${secondStr} ${ampm} UTC+7`;\n}\n\n// 4. Parse JSON model trả về\nconst content = $json.choices[0].message.content;\n\nlet ai;\ntry {\n  ai = JSON.parse(content);\n} catch (e) {\n  console.log(\"Cannot parse AI content:\", content);\n  ai = {};\n}\n\n// 5. Tìm config\nconst cfg      = categoryMap[ai.categoryName] || {};\nconst moneyCfg = moneySourceMap[ai.moneySourceName] || {};\n\n// 6. Lấy userId từ webhook\nconst userId = $node[\"Webhook-add-transaction1\"].json.body.userId ?? null;\n\n// 7. Trả object cuối\nreturn {\n  json: {\n    userId,  // ⬅️ THÊM VÀO ĐÂY\n\n    amount: ai.amount ?? null,\n\n    categoryIcon: cfg.categoryIcon ?? null,\n    categoryId:   cfg.categoryId   ?? null,\n    categoryName: cfg.categoryName ?? ai.categoryName ?? null,\n\n\n    dateTime: formatDateTimeToFirebase(ai.dateTime),\n    merchant: ai.merchant ?? null,\n    isIncome: Boolean(cfg.isIncome ?? ai.isIncome),\n\n\n    moneySourceName: ai.moneySourceName ?? null,\n    moneySourceId:   moneyCfg.id ?? null,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -640
      ],
      "id": "f3fdfd22-64b4-4083-9d8f-00a400d94ffe",
      "name": "Code in Transaction1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42157e71-3a05-4029-b49e-c939fbdf13cf",
              "name": "convert_text",
              "value": "={{ ($json._transcriptValidation?.transcript || $json._textValidation?.normalizedText || $json.text || $json.body?.text || $json.pages?.[0]?.markdown || '').trim() }}\n",
              "type": "string"
            },
            {
              "id": "8b6a7eba-031f-4fd3-b714-8321ab53896c",
              "name": "=moneySourceId",
              "value": "={{ JSON.parse($('Webhook-add-transaction1').item.json.body.moneySources).map(s => s.id).join(', ') }}",
              "type": "string"
            },
            {
              "id": "62a19ae9-8c87-4497-a855-8e49f1abe5cd",
              "name": "moneySourceName",
              "value": "={{ JSON.parse($('Webhook-add-transaction1').item.json.body.moneySources).map(s => s.name).join(', ') }}\n",
              "type": "string"
            },
            {
              "id": "62acb4cd-b019-4c93-ba7e-aa4aa2d9ac6c",
              "name": "receivedAt",
              "value": "={{ new Date($now).toLocaleString('sv-SE', { timeZone: 'Asia/Ho_Chi_Minh' }).replace(' ', 'T') + '+07:00' }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        -640
      ],
      "id": "956a4f54-795f-4f50-bddc-3eb3e05e2365",
      "name": "Edit_Fields_transaction1"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst body = item.json.body || {};\n\nfunction build(errorCode, message, rawInput) {\n  return { isValid: false, errorCode, message, rawInput };\n}\n\nconst base64FromJson = (item.json.fileBase64 || '').trim();\nconst base64FromBinary = (item.binary?.data0?.data || '').toString().trim();\nconst rawBase64 = base64FromJson || base64FromBinary;\nconst cleanedBase64 = rawBase64.includes('base64,')\n  ? rawBase64.split('base64,').pop() || ''\n  : rawBase64;\n\nlet validation = { isValid: true };\n\nif ((!item.binary || !item.binary.data0) && !cleanedBase64) {\n  validation = build('AUDIO_EMPTY', 'Thiếu dữ liệu audio hoặc tệp không tồn tại.', body);\n} else {\n  let buffer;\n  try {\n    buffer = Buffer.from(cleanedBase64, 'base64');\n    const reencoded = buffer.toString('base64').replace(/=+$/, '');\n    const normalized = cleanedBase64.replace(/\\s+/g, '').replace(/=+$/, '');\n    if (!normalized || reencoded !== normalized) throw new Error('Invalid base64 content');\n  } catch (error) {\n    validation = build('AUDIO_INVALID', 'Audio base64 không hợp lệ hoặc không decode được.', cleanedBase64.slice(0, 2000));\n  }\n  if (validation.isValid && buffer && buffer.length < 200) {\n    validation = build('AUDIO_INVALID', 'Dung lượng audio quá nhỏ (<200 bytes), có thể file hỏng.', cleanedBase64.slice(0, 2000));\n  }\n}\n\nconst nextJson = { ...item.json, fileBase64: cleanedBase64, _audioValidation: validation };\nreturn [{ json: nextJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4288,
        -1120
      ],
      "id": "b5723531-7468-4c3e-9965-f2a6a81e0402",
      "name": "Validate Audio Input1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._audioValidation.isValid ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4064,
        -1120
      ],
      "id": "d5bfc0f4-eb0b-478b-916f-4604c0cb364c",
      "name": "Switch Audio Validation1"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\n\nfunction build(errorCode, message, transcript) {\n  return { isValid: false, errorCode, message, transcript };\n}\n\nlet validation = { isValid: true };\nconst httpError = (item.json.statusCode && item.json.statusCode >= 400) || item.json.error;\nif (httpError) {\n  validation = build('AUDIO_NO_TEXT', 'Lỗi HTTP khi gọi dịch vụ chuyển giọng nói sang text.', item.json);\n} else {\n  const transcript = (item.json.text || '').trim();\n  const cleaned = transcript.replace(/\\n+/g, ' ').trim();\n  const lettersAndDigits = cleaned.replace(/[^\\p{L}\\p{N}]/gu, '');\n  const lengthTooShort = cleaned.length < 8;\n  const fillerRegex = /^(ờ|ừm|à|a+|h[ao]+|ha+ ha+|ơ+|ư+|hmm+|mmm+|ah+|uh+)[\\s!,.]*$/i;\n  const hasMoneyWord = /(nghìn|ngàn|triệu|tỷ|k\\b|đồng|vnd)/i.test(cleaned);\n  const hasActionWord = /(mua|trả|thanh toán|ăn|uống|đi taxi|đi grab|đặt vé|nhận lương|được chuyển khoản|chuyển khoản|thu nhập|chi tiêu)/i.test(cleaned);\n  const isNoise = !cleaned || !lettersAndDigits || lengthTooShort || fillerRegex.test(cleaned) || (!hasMoneyWord && !hasActionWord);\n\n  if (!cleaned) {\n    validation = build('AUDIO_NO_TEXT', 'Không nhận được transcript từ audio.', transcript);\n  } else if (isNoise) {\n    validation = build('AUDIO_NO_MEANINGFUL_CONTENT', 'Audio chỉ chứa tiếng ồn hoặc không có nội dung giao dịch.', transcript);\n  } else {\n    validation = { isValid: true, transcript: cleaned };\n  }\n}\n\nconst nextJson = { ...item.json, _transcriptValidation: validation };\nreturn [{ json: nextJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3248,
        -1120
      ],
      "id": "9b953d3d-c4d4-482e-b0fb-f64dbb3a4c0b",
      "name": "Validate Transcript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._transcriptValidation.isValid ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2352,
        -1136
      ],
      "id": "34ad4d08-c039-4c86-a057-e05103fdb231",
      "name": "Switch Transcript Validation1"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\n\nfunction build(errorCode, message, rawInput) {\n  return { isValid: false, errorCode, message, rawInput };\n}\n\nlet validation = { isValid: true };\nconst httpError = (item.json.statusCode && item.json.statusCode >= 400) || item.json.error;\nif (httpError) {\n  validation = build('OCR_EMPTY', 'Lỗi HTTP khi gọi OCR.', item.json);\n} else {\n  const markdown = Array.isArray(item.json.pages) && item.json.pages[0]?.markdown\n    ? String(item.json.pages[0].markdown).trim()\n    : '';\n  const meaningful = markdown.replace(/[\\s.,;:!?()\\-_'\"`~]/g, '');\n  if (!markdown) {\n    validation = build('OCR_EMPTY', 'OCR không trả về nội dung văn bản.', item.json.pages);\n  } else if (!meaningful) {\n    validation = build('OCR_EMPTY', 'Kết quả OCR chỉ chứa khoảng trắng/ký tự nhiễu.', markdown);\n  } else {\n    validation = { isValid: true, text: markdown };\n  }\n}\n\nconst nextJson = { ...item.json, _ocrValidation: validation };\nreturn [{ json: nextJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        208
      ],
      "id": "c02b6d92-39bf-40e6-a409-6df1c6af708b",
      "name": "Validate OCR Output1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._ocrValidation.isValid ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2272,
        192
      ],
      "id": "903cd8c2-e0f1-44be-994c-3e417aec7915",
      "name": "Switch OCR Validation1"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst inputText = item.json.body?.text ?? item.json.text;\n\n// Chuẩn hóa\nlet rawText = inputText;\nif (rawText !== null && rawText !== undefined) {\n  rawText = String(rawText).trim();\n}\n\n// Base validation object\nconst validation = {\n  isValid: false,\n  errorCode: null,\n  message: null,\n  rawInput: rawText,\n};\n\n// 1. Text trống\nif (!rawText) {\n  validation.errorCode = 'TEXT_EMPTY';\n  validation.message = 'Nội dung text bị rỗng.';\n} \nelse {\n  const normalized = rawText.toLowerCase();\n\n  // 2. Có số tiền → hợp lệ\n  const hasAmount =\n    /\\d/.test(normalized) ||\n    /\\d+\\s*(k|nghìn|ngàn|triệu|tr|tỷ|ty|vnd|đ)/i.test(normalized);\n\n  // 3. Các keyword tiếng Anh / Việt liên quan giao dịch\n  const keywords = [\n    'mua','trả','thanh toán','ăn','uống',\n    'siêu thị','supermarket','shop','market',\n    'winmart','vinmart','grab','taxi','bus','vé',\n    'salary','bonus','transfer','pay','payment',\n    'store','mall','bill','receipt','spent','spend'\n  ];\n\n  const hasKeyword = keywords.some(k => normalized.includes(k));\n\n  // 4. Điều kiện hợp lệ: có số tiền HOẶC keyword\n  if (hasAmount || hasKeyword) {\n    validation.isValid = true;\n  } else {\n    validation.errorCode = 'TEXT_INSUFFICIENT';\n    validation.message = 'Không tìm thấy thông tin nào liên quan đến giao dịch tiền.';\n  }\n}\n\nconst nextJson = {\n  ...item.json,\n  body: { ...(item.json.body || {}), text: rawText ?? '' },\n  _textValidation: validation,\n};\n\nreturn [{ json: nextJson, binary: item.binary }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4288,
        -640
      ],
      "id": "f8bd5d0f-7b57-4df5-983f-98f0e5efa23a",
      "name": "Validate Text Input1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({ json: item.json }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3264,
        -688
      ],
      "id": "992e21e3-4f6d-4184-9645-ad226e88c30f",
      "name": "Return Validation Error1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._textValidation.isValid ? 'true' : 'false' }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4032,
        -656
      ],
      "id": "017d3ec8-8ba2-4a41-8949-882a87b26c9c",
      "name": "Switch Text Validation1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "name": "errorCode",
              "value": "={{ $json._textValidation.errorCode || 'VALIDATION_FAILED' }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json._textValidation.message || 'Yêu cầu không hợp lệ.' }}",
              "type": "string"
            },
            {
              "name": "rawInput",
              "value": "={{ $json._textValidation.rawInput || $json._textValidation.transcript || $json._textValidation.text || $json.text || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        -480
      ],
      "id": "94351e6f-c9fc-42d5-9b66-5896312deca9",
      "name": "Build Text Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Build Audio Error": {
      "main": [
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript Error": {
      "main": [
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Error": {
      "main": [
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OCR Error": {
      "main": [
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video1": {
      "main": [
        [
          {
            "node": "Validate Transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http_request_phan_loai_danh_muc_tu_anh": {
      "main": [
        [
          {
            "node": "Code in Transaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create transaction voice1": {
      "main": [
        [
          {
            "node": "Edit Fields Voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_chia_luong1": {
      "main": [
        [
          {
            "node": "Validate Audio Input1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Text Input1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-add-transaction1": {
      "main": [
        [
          {
            "node": "Switch_chia_luong1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP_Request_trich_xuat_van_ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Request_trich_xuat_van_ban": {
      "main": [
        [
          {
            "node": "Validate OCR Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Transaction1": {
      "main": [
        [
          {
            "node": "Create transaction voice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_Fields_transaction1": {
      "main": [
        [
          {
            "node": "http_request_phan_loai_danh_muc_tu_anh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Audio Input1": {
      "main": [
        [
          {
            "node": "Switch Audio Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Audio Validation1": {
      "main": [
        [
          {
            "node": "Transcribe audio or video1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Audio Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Transcript1": {
      "main": [
        [
          {
            "node": "Switch Transcript Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Transcript Validation1": {
      "main": [
        [
          {
            "node": "Edit_Fields_transaction1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Transcript Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate OCR Output1": {
      "main": [
        [
          {
            "node": "Switch OCR Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch OCR Validation1": {
      "main": [
        [
          {
            "node": "Edit_Fields_transaction1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OCR Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Text Input1": {
      "main": [
        [
          {
            "node": "Switch Text Validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Text Validation1": {
      "main": [
        [
          {
            "node": "Edit_Fields_transaction1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Text Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Error": {
      "main": [
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25700cd7-bb15-46d8-a420-298bdd859276",
  "meta": {
    "instanceId": "e77681465628c7439764cc9a839678e9ca48b190d96c555ab3ac0540d32c9d87"
  },
  "id": "iNBBAGy0OhbLe9i0",
  "tags": []
}